form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    width: 4rem;
    height: 2rem
}


